<ion-header>
  <ion-fab top right (click)="close()">
    <button ion-fab mini color="light">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="secondary" padding>
    <spirit-exercise-level [level]="level"></spirit-exercise-level>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="level.steps.length">
    <button *ngFor="let step of level.steps" ion-item (click)="selectStep(step)" text-wrap
      [disabled]="step.fear.completion >= FEAR_COMPLETION_POSITIVE_LIMIT">
      <ion-avatar item-start text-center>
        <ion-icon name="md-square-outline" *ngIf="step.fear.completion < FEAR_COMPLETION_POSITIVE_LIMIT"></ion-icon>
        <ion-icon name="checkbox" *ngIf="step.fear.completion >= FEAR_COMPLETION_POSITIVE_LIMIT"></ion-icon>
      </ion-avatar>
      <h2>
        {{ step.fear.situation }}
      </h2>
      <p *ngIf="step.fear.without">
        {{ 'WITHOUT' | translate }}: {{ step.fear.without }}
      </p>
      <spirit-progress-bar [progress]="step.fear.poissonValue"></spirit-progress-bar>
    </button>
  </ion-list>
</ion-content>