<ion-header>
  <ion-fab top right (click)="close()">
    <button ion-fab mini color="light">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="secondary" padding>
    <spirit-exercise-level [level]="level"></spirit-exercise-level>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="level.steps.length">
    <spirit-exercise-level-step *ngFor="let step of level.steps" (click)="selectStep(step)" [step]="step">
    </spirit-exercise-level-step>
  </ion-list>
</ion-content>