.c-onboarding {
  .swiper-pagination {
    bottom: 12%;

    .swiper-pagination-bullet-active {
      background: color($colors, light, base);
    }
  }
}

.c-onboarding__slide {
  display: flex;
  flex-direction: column;

  .slide-zoom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.c-onboarding__illustration {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  // I think this is a nice color as background
  // background-color: color($colors, light, base);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.c-onboarding__text {
  height: 40%;
  background-color: color($colors, secondary, base);
  color: color($colors, light, base);
  display: flex;
  flex-direction: column;

  p {
    padding-top: 1.5em;
    text-align: center;
  }
}

.c-onboarding__button {
  position: absolute;
  bottom: 0;
  margin: 0;
  z-index: 99;
  color:  darken(color($colors, light, base),15);
}
