page-onboarding {
  ion-footer {
    display: flex;

    button.button {
      margin: 0;
      flex-grow: 1;
      box-shadow: none;

      &.c-onboarding__button {
        flex-grow: 10;
      }
    }
  }
}

.c-onboarding {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: color($colors, light, base);
    }
  }
  // .swiper-pagination {
  //   bottom: 0;
  //   display: flex;
  //   justify-content: space-between;
  //
  //   .swiper-pagination-bullet {
  //     margin: 0;
  //     flex-grow: 1;
  //     border-radius: 0;
  //     height: 4px;
  //     transition: all 200ms ease-out;
  //   }
  //
  //   .swiper-pagination-bullet-active {
  //     transition: all 200ms ease-in;
  //     background: color($colors, light, base);
  //   }
  // }
}

.c-onboarding__slide {
  display: flex;
  flex-direction: column;

  .slide-zoom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.c-onboarding__illustration {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  // I think this is a nice color as background
  background-color: color($colors, light, base);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c-onboarding__text {
  height: 40%;
  background-color: color($colors, secondary, base);
  color: color($colors, light, base);
  display: flex;
  flex-direction: column;

  p {
    // text-align: center;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}