<ion-content [@trackMood]='mood'>
  <div ion-fixed>
    <ion-fab top right *ngIf="beforeMeasure">
      <button ion-fab mini color="light" (click)="stopExercise()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-fab>
    <strong class="c-mood__mood">
        {{ 'MOOD_HEADER' | translate }}
        <div class="mood__name">
          <span *ngIf="this.moodNumber === 1">{{ 'MOOD_CONTENT' | translate }}</span>
          <span *ngIf="this.moodNumber === 2">{{ 'MOOD_OK' | translate }}</span>
          <span *ngIf="this.moodNumber === 3">{{ 'MOOD_MEH' | translate }}</span>
          <span *ngIf="this.moodNumber === 4">{{ 'MOOD_WORRIED' | translate }}</span>
          <span *ngIf="this.moodNumber === 5">{{ 'MOOD_PANIC' | translate }}</span>
        </div>
    </strong>

    <section class="c-mood__circle">
        <ngx-cs-slider [className]="mood"
        (update)="setMood($event)"
        [props]="props">
        </ngx-cs-slider>
        <section [className]="mood">
            <div class="c-mood__face">
                <section class="face__attributes">
                    <section class="face__eyebrows">
                        <div class="eyebrow eyebrow--left"></div>
                        <div class="eyebrow eyebrow--right"></div>
                    </section>
                    <section class="face__blush">
                        <div class="blush blush--left"></div>
                        <div class="blush blush--right"></div>
                    </section>
                    <div class="face__drop"></div>
                </section>
                <section class="face__eyes">
                    <div class="eye eye--left"></div>
                    <div class="eye eye--right"></div>
                </section>
                <section class="face__mouth">
                    <div class="mouth__lips"></div>
                    <div class="mouth__inside"></div>
                </section>
                <!-- {{ mood }} -->
            </div>
        </section>
    </section>

    <form>
      <ion-item>
        <ion-label floating>
          {{ 'MOOD_EXPLENATION' | translate }}
        </ion-label>
        <ion-textarea [(ngModel)]="moodReason" name="moodReason"></ion-textarea>
      </ion-item>
    </form>

  </div>

</ion-content>

<ion-footer>
  <button no-margin ion-button large block (click)="startExercise()" *ngIf="beforeMeasure">
    <ion-icon name="checkmark"></ion-icon>
  </button>
  <button no-margin ion-button large block (click)="finishExercise()" *ngIf="!beforeMeasure">
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-footer>
