page-exercise-mood {
  ion-content.content {
    background: rgb(252, 201, 138);

    [ion-fixed], .ion-fixed {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
  ion-fab {
    button.fab {
      background: none;
      box-shadow: none;
      ion-icon {
        color: color($colors, dark, base);
      }
    }
  }
  ngx-cs-slider {
    circle,
    path {
      stroke-width: 2;
    }


    g {
      g {
        // Select start angle slider
        &:nth-of-type(2) {
          display: none;
        }

        circle {
          stroke-width: 5;
          transition: all 450ms;
        }
      }
    }

    &.ok {
      g g circle { stroke: rgb(145, 207, 204); }
    }
    &.content {
      g g circle { stroke: rgb(252, 201, 138); }
    }
    &.meh {
      g g circle { stroke: rgb(214, 217, 204); }
    }
    &.panic {
      g g circle { stroke: rgb(240,120,121); }
    }
    &.worried {
      g g circle { stroke: rgb(82, 156, 204); }
    }
  }

}
