page-login {

  // https://forum.ionicframework.com/t/weird-padding-showing-up-on-scroll-content/48185/6
  ion-content.content-md:not([padding]) .scroll-content { padding-bottom: 0 !important; }
  .scroll-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
  }

  .p-login__header {
    flex-grow: 1;
    display: flex;
    background-image: url('../assets/imgs/login_background.png');
    background-size: cover;
    background-position: center center;
  }

  ion-list.p-login__inputs {
    margin: 0;

    ion-item {
      background: color($colors, primary, base);

      &.item-input-has-focus {
        ion-label.label {
          color: color($colors, light, base);
        }
      }

      &.item-input {
        .item-inner,
        &:last-child { border-bottom: 0; }

        &:last-child {
          padding-bottom: 16px;
        }
      }

      input,
      ion-label.label {
        color: color($colors, light, base);
      }
    }
  }

  .p-login__buttons {
    button {
      border-radius: 0;
      box-shadow: none;
      margin: 0;
    }
  }
}
