$o-moodindicator-size: 20px;

.o-moodindicator {
  display: flex;
  transform: rotate(45deg);

  .after,
  .before {
    background: lighten(color($colors, dark, base), 50);
    width: $o-moodindicator-size / 2;
    height: $o-moodindicator-size;

    &.mood1 {
      background: color($moods, content, base);
    }

    &.mood2 {
      background: color($moods, ok, base);
    }

    &.mood3 {
      background: color($moods, meh, base);
    }

    &.mood4 {
      background: color($moods, worried, base);
    }

    &.mood5 {
      background: color($moods, panic, base);
    }
  }

  .before {
    border-bottom-left-radius: $o-moodindicator-size * 2;
    border-top-left-radius: $o-moodindicator-size * 2;
  }

  .after {
    border-bottom-right-radius: $o-moodindicator-size * 2;
    border-top-right-radius: $o-moodindicator-size * 2;
  }
}

.o-moodindicator__small {
  width: $o-moodindicator-size / 2;
  height: $o-moodindicator-size / 2;
  border-radius: 50%;

  &.mood1 {
    background: color($moods, content, base);
  }

  &.mood2 {
    background: color($moods, ok, base);
  }

  &.mood3 {
    background: color($moods, meh, base);
  }

  &.mood4 {
    background: color($moods, worried, base);
  }

  &.mood5 {
    background: color($moods, panic, base);
  }
}