$o-badge-size: 75px;

.o-badge {
  display: flex;
  align-items: center;
  flex-direction: column;

  .badge__progress {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: $o-badge-size;
    round-progress {
      position: absolute;
    }
    img {
      width: $o-badge-size;
      height: $o-badge-size;
    }
  }
  .badge__progress__numbers {
    padding: 0.25em 0 1em 0;
  }

  .badge__name {
    text-transform: uppercase;
    padding: 0 0 0.5em 0;
    font-weight: lighter;
    text-align: center;
    font-size: 0.8em;
  }
}

.o-badge--big {
  .badge__progress {
    height: 250px;

    img {
      width: 100%;
    }
  }

  .badge__progress__numbers,
  .badge__name {
    font-size: 2em;
  }
}
