$o-moodindicator-size: 20px;

.o-moodindicator {
  display: flex;
  transform: rotate(45deg);

  .before {
    border-left: 1px dashed lighten(color($colors, dark, base), 50);
  }

  .after {
    border-right: 1px dashed lighten(color($colors, dark, base), 50);
  }

  .after,
  .before {
    border-top: 1px dashed lighten(color($colors, dark, base), 50);
    border-bottom: 1px dashed lighten(color($colors, dark, base), 50);
    width: $o-moodindicator-size / 2;
    height: $o-moodindicator-size;
    @each $moodIndicator, $mood in $moods {
      &.#{$moodIndicator} {
        border: none;
        background: $mood;
      }
    }
  }

  .before {
    border-bottom-left-radius: $o-moodindicator-size * 2;
    border-top-left-radius: $o-moodindicator-size * 2;
  }

  .after {
    border-bottom-right-radius: $o-moodindicator-size * 2;
    border-top-right-radius: $o-moodindicator-size * 2;
  }
}

.o-moodindicator__small {
  width: $o-moodindicator-size / 1.5;
  height: $o-moodindicator-size / 1.5;
  min-width: $o-moodindicator-size / 1.5;
  min-height: $o-moodindicator-size / 1.5;
  border-radius: 50%;
  border: 1px dashed lighten(color($colors, dark, base), 50);
  @each $moodIndicator, $mood in $moods {
    &.#{$moodIndicator} {
      border: none;
      background: $mood;
    }
  }
}
