$o-moodindicator-size: 20px;

.o-moodindicator {
  display: flex;
  transform: rotate(45deg);

  .after,
  .before {
    background: lighten(color($colors, dark, base), 50);
    width: $o-moodindicator-size / 2;
    height: $o-moodindicator-size;

    &--content {
      background: color($moods, content, base);
    }

    &--panic {
      background: color($moods, panic, base);
    }

    &--worried {
      background: color($moods, worried, base);
    }

    &--meh {
      background: color($moods, meh, base);
    }

    &--ok {
      background: color($moods, ok, base);
    }
  }

  .before {
    border-bottom-left-radius: $o-moodindicator-size * 2;
    border-top-left-radius: $o-moodindicator-size * 2;
  }

  .after {
    border-bottom-right-radius: $o-moodindicator-size * 2;
    border-top-right-radius: $o-moodindicator-size * 2;
  }
}