<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ 'MY_FEAR_LADDER' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="(fearLadder$ | async).loading">
    loading
  </section>
  <section *ngIf="!(fearLadder$ | async).loading">
    <spirit-empty-state *ngIf="!(fearLadder$ | async).steps.length" [title]="'OOPS'"
      [subtitle]="'WARNING_BEFORE_YOU_CAN_START'" [imageSource]="'assets/imgs/monsters/all.png'">
    </spirit-empty-state>
    <section *ngIf="(fearLadder$ | async).steps.length">
      <ion-item-group *ngFor="let level of levels">
        <ion-item-divider color="light">
          {{ 'FEAR_LADDER_STEP_FEAR_RATING' | translate }} {{ level.stepNumber }}
        </ion-item-divider>
        <spirit-exercise-level-step *ngFor="let step of level.steps" (click)="editStep(step)" [step]="step">
        </spirit-exercise-level-step>
      </ion-item-group>
    </section>
  </section>
</ion-content>

<ion-footer>
  <button ion-button large block (click)="addStep()">
    {{ 'BUTTON_ADD_FEAR' | translate }}
  </button>
</ion-footer>