<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ 'MY_FEAR_LADDER' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="(fearLadder$ | async).loading">
    loading
  </section>
  <section *ngIf="!(fearLadder$ | async).loading">
    <section *ngIf="!(fearLadder$ | async).steps.length">
      no steps
    </section>
    <section *ngIf="(fearLadder$ | async).steps.length">
      <ion-item-group *ngFor="let level of levels">
        <ion-item-divider color="light">
          {{ 'LEVEL' | translate }} {{ level.stepNumber }}
        </ion-item-divider>
        <button ion-item *ngFor="let step of level.steps" (click)="editStep(step)">
          <h2 text-wrap>
            {{ step.fear?.situation }}
          </h2>
          <p text-wrap>{{ 'WITHOUT' | translate }}: {{ step.fear?.without }}</p>
        </button>
      </ion-item-group>
    </section>
  </section>
</ion-content>

<ion-footer>
  <button ion-button large block (click)="addStep()">
    {{ 'BUTTON_ADD_FEAR' | translate }}
  </button>
</ion-footer>