<ion-content class="c-authpage">
  <ion-fab top left>
    <button ion-fab icon-only color="light" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>

  <h1 ion-text color="light">{{ 'RESET' | translate }} <span>{{ 'PASSWORD' | translate }}</span></h1>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendVerificationCode()">
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="receivedCode">
        <ion-label floating>{{ 'CODE' | translate }}</ion-label>
        <ion-input formControlName="code" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="receivedCode">
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="password" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button icon-only round color="primary" (click)="receivedCode = true" [disabled]="!actionButtonEnabled">
    I allready got my code
  </button>

  <section class="action">
    <h2 ion-text>
      {{ 'RESET' | translate }}
    </h2>
    <button ion-button icon-only round color="primary" (click)="action()" [disabled]="!actionButtonEnabled">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </section>
</ion-content>