page-profile {
  ion-content {
    display: flex;
    flex-direction: column;

    .c-big-header {
      background: color($colors, contrast, base);

      ion-textarea {
        min-height: 9vh;
        background: color($colors, light, base);
        padding: 4px 0;

        textarea {
          padding: 8px;
          height: inherit;
          margin: 0;
        }
      }
    }

    .blob {
      > div {
        content: " ";
        background-image: url("../assets/imgs/blobs/profile.png");
        height: 5vh;
        background-size: cover;
        background-position: bottom;
      }
    }

    .action {
      display: flex;
      justify-content: center;
      margin-top: -5vh;
    }
  }
}
