page-profile {

  .scroll-content {
    display: flex;
    flex-direction: column;
  }
    
  ion-textarea {
    height: 9vh;
    background: color($colors, light, base);

    textarea {
      padding: 8px;
      height: inherit;
      margin: 0;
    }
  }

  ion-segment {
    flex: inherit;
  }

  ion-scroll {
    flex-grow: 1;
  }
}
