<ion-header>
  <ion-navbar color="secondary" text-center padding>
    <img  src="assets/imgs/logbook_illustration.png" alt="logbook illustration" class="o-illustration header__illustation">
    <ion-title>
      My personal goal
    </ion-title>
    <ion-item>
      <ion-input type="textarea" value=""></ion-input>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Settings
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="language" (ngModelChange)="updateAppLanguage()">
        <ion-option *ngFor="let language of languages" value="{{language.code}}">
          {{ language.name }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-list-header>
      [header]
    </ion-list-header>
    <ion-item>
      <ion-label>My fearladder</ion-label>
      <div item-end>
        <button ion-button (click)="editFearLadder()">change</button>
      </div>
    </ion-item>
    <ion-list-header>
      My badges
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col col-3 *ngFor="let x of [1,2,3,4,5,6,7,8]">
          <div class="o-badge">
            <span class="badge__name">
              adadasd
            </span>
            <div class="badge__progress">
              <img src="assets/imgs/levels/level-01.png" alt="">
              <round-progress [current]="30" [max]="100" [radius]="37.5" [stroke]="4" [duration]="1"></round-progress>
            </div>
            <span class="badge__progress__numbers">
              <strong>2</strong> / 10
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <!-- <button (click)="showNotification()" ion-button block large>
    notification test
  </button>
  <button (click)="download()" ion-button block large>
    download exercises
  </button>
  <button (click)="logout()" ion-button block large>
    logout
  </button> -->
</ion-content>
