page-profile {
  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-textarea {
    min-height: 9vh;
    background: color($colors, light, base);
    padding: 4px 0;

    textarea {
      padding: 8px;
      height: inherit;
      margin: 0;
    }
  }

  ion-segment {
    flex: inherit;
  }

  [ion-fixed] {
    display: flex;
    flex-direction: column;

    button[ion-button] {
      margin: 0;
      border-radius: 0;
    }

    ion-scroll {
      flex-grow: 1;

      .scroll-content {
        overflow-y: scroll;
      }
    }
  }
}
