<ion-header>
  <ion-fab top right (click)="close()">
    <button ion-fab mini color="light">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="secondary" padding>
    <div class="level__monster">
      <div class="monster__icon">
        <div class="monster" [style.backgroundImage]="'url('+ level?.monster +')'"></div>
      </div>
      <round-progress
        [current]="level?.completion"
        [max]="100"
        [radius]="60"
        [stroke]="5"
        [duration]="1">
      </round-progress>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let step of level?.steps">
      <button ion-item (click)="selectStep(step)" text-wrap
        [class.completed]="step.fear.completion >= 100"
        [disabled]="step.fear.completion >= 100">
          <ion-avatar item-start text-center>
            <ion-icon name="radio-button-off" *ngIf="step.fear.completion < 100"></ion-icon>
            <ion-icon name="checkmark-circle" *ngIf="step.fear.completion >= 100"></ion-icon>
          </ion-avatar>
          <h2 capitalize>
            {{ step.fear.situation }}
          </h2>
          <p *ngIf="step.fear.without">
            {{ 'WITHOUT' | translate }}: {{ step.fear.without }}
          </p>
      </button>
      <ion-item-options side="left">
        <button ion-button (click)="finishExercise(step)" *ngIf="step.fear.completion >= 100">
          Uncomplete
        </button>
        <button ion-button (click)="finishExercise(step)" *ngIf="step.fear.completion < 100">
          complete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
