<ion-header>
  <ion-fab top right (click)="close()">
    <button ion-fab mini color="light">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="secondary">
    <div class="level__monster">
      <div class="monster__icon">
        <div class="monster" [style.backgroundImage]="'url('+ level?.monster +')'"></div>
      </div>
      <round-progress [current]="level?.completion" [max]="100" [radius]="60" [stroke]="5" [duration]="1"></round-progress>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="selectExercise(item)" text-wrap *ngFor="let item of level?.exercises">
      <ion-avatar item-start text-center>
        <ion-icon name="radio-button-off" *ngIf="item.exercise.completion < 100"></ion-icon>
        <ion-icon name="checkmark-circle" *ngIf="item.exercise.completion >= 100"></ion-icon>
      </ion-avatar>
      <h2 capitalize>
        {{ item.exercise.situation }}
      </h2>
      <p>
        Without: {{ item.exercise.without }}
      </p>
    </button>
  </ion-list>
</ion-content>
