ion-navbar {
  &.toolbar-ios {
    padding-top: 20px !important;

    ion-title {
      align-items: flex-end;
    }
    // Iphone X
    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
      padding-top: 32px 16px 16px;
    }
  }
}
