ion-tabs {
  &.tabs {
    .tabbar {
      a {
        &[aria-selected=true] {
          background: color($colors, primary, base);

          .tab-button-icon {
            color: color($colors, light, base);
          }
        }
      }
    }
  }

  &.tabs-ios {
    .tabbar {
      .tab-button {
        &.icon-only {
          min-height: 49px;
        }
      }
    }
  }
}