$monster-size: 50vw;
$monster-oversize: 10vw;

page-exercise-during {
  div[ion-fixed] {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: color($colors, light, base);
  }

  .scroll-content {
    display: none;
  }

  .exercise {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .situation,
    .without {
      font-weight: 400;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .between__text {
      font-size: 1em;
      text-transform: lowercase;
      margin: 0.5em 0;
    }
  }

  .monster {
    background: #FCD28A;
    width: $monster-size;
    height: $monster-size;
    border-radius: 50%;
    margin: 10vh auto;

    .monster__illustration {
      width: $monster-size + $monster-oversize;
      height: $monster-size + $monster-oversize;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      margin-left: -$monster-oversize / 2;
      margin-top: -$monster-oversize / 2;
    }

    .monster__rings {
      border: 2px solid rgba(252, 211, 139, 0.8);
      width: $monster-size + 2vw;
      height: $monster-size + 2vw;
      border-radius: 50%;
      position: relative;
      left: -1vw;
      top: -1vw;
      z-index: -1;
      // display: none;
      animation: pulseRing 3000ms infinite;

      &:after,
      &:before {
        content: " ";
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        animation: pulseRing 3000ms infinite;
      }

      &:after {
        border: 2px solid rgba(252, 211, 139, 0.4);
        width: $monster-size + 8vw;
        height: $monster-size + 8vw;
        left: -4vw;
        top: -4vw;
        animation-delay: 400ms;
      }

      &:before {
        border: 2px solid rgba(252, 211, 139, 0.2);
        width: $monster-size + 18vw;
        height: $monster-size + 18vw;
        left: -9vw;
        top: -9vw;
        animation-delay: 800ms;
      }
    }
  }
}
@keyframes pulseRing {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}