<ion-header>
  <ion-navbar color="secondary">
    <button clear ion-button color="light" (click)="previousWeek()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-title text-center>
      <!-- TODO look at this, maybe it is nice to select the date -->
      <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startWeek"></ion-datetime> -->
      {{ startWeek | date : 'dd/MM'}} - {{ endWeek | date : 'dd/MM' }}
    </ion-title>
    <button clear ion-button color="light" (click)="nextWeek()" [disabled]="!canSelectNextWeek">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <chart [options]="_chartOptions" style="display: block" type="chart"></chart>

  <ion-list>
    <ion-item>
      <ion-label>{{ 'FILTER' | translate }}</ion-label>
      <ion-select [(ngModel)]="filter">
        <ion-option value="all">all</ion-option>
        <ion-option *ngFor="let mood of moods" value="{{mood}}">
          {{ mood | translate }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let mood of moods">
      {{ mood | translate }}
    </ion-item>
  </ion-list>
</ion-content>
