page-home {
  .highcharts-series-hover path {
    stroke: rgb(255, 66, 66);
    stroke-width: 2px;
  }

  ion-header {
    ion-navbar {
      .toolbar-content {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
