<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ headerText | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      {{ 'EXERCISE' | translate }}
    </ion-item-divider>
    <ion-item>
      <ion-input class="text-input" type="text" placeholder="{{ 'FEAR_LADDER_STEP_I_WANT_TO' | translate }}..."
        [(ngModel)]="step.fear.situation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="text-input" type="text" placeholder="{{ 'WITHOUT' | translate }}..."
        [(ngModel)]="step.fear.without"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      {{ 'FEAR_LADDER_STEP_FEAR_RATING' | translate }}
    </ion-item-divider>
    <ion-item>
      <ion-range [(ngModel)]="step.fearRating" (ngModelChange)="updateLevel()" min="1" max="8" pin="true" snaps="true">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>8</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <spirit-exercise-level [level]="level"></spirit-exercise-level>
    </ion-item>
    <ion-item *ngFor="let trigger of step.triggers" text-wrap>
      <ion-label>
        {{ 'FEAR_LADDER_STEP_THIS_TRIGGERS' | translate }}
        {{ trigger.verbose | translate }}
      </ion-label>
      <ion-checkbox [(ngModel)]="trigger.enabled"></ion-checkbox>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <button *ngIf="editStep" color="danger" ion-button large block (click)="removeFear()">
    {{ 'REMOVE' | translate }}
  </button>
  <button ion-button large block (click)="addFear()" [disabled]="!step.fear.situation || !step.fear.without">
    {{ buttonText | translate }}
  </button>
</ion-footer>