exercise-mood-modal {
  ion-content.content {
    background: rgb(252, 201, 138);

    > div.fixed-content,
    > div.scroll-content {
      background-color: transparent;
    }
    .scroll-content {
      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form {
          ion-item.transparent {
            background: transparent;
          }
        }
      }
    }
  }
}
