.c-exercise__monster {
  display: flex;
  justify-content: center;
  align-items: center;
  background: color($colors, secondary, base);
}

.c-exercise__levels {
  padding: 32px 0;

  .level {

    &:not(:last-of-type) {
      &:after {
        content: '';
        border-left: 1px dotted lighten(color($colors, dark, base), 60);
        height: 6vh;
        margin: 8px auto;
        display: block;
        width: 1px;
      }
    }

    ion-item {

      .item-inner {
        ion-label { margin: 0 8px 0 0; }
      }

      section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .level__seperator {
          content: '';
          border-left: 1px dotted lighten(color($colors, dark, base), 60);
          height: 6vh;
          margin: 8px 0;
        }
      }
    }
  }

}

.level__monster {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;

  .level__icon,
  .monster__icon {
    border-radius: 50%;
    .monster,
    .level {
      width: inherit;
      height: inherit;
      background-size: cover;
    }
  }

  .level__icon {
    width: 125px;
    height: 125px;
  }

  .monster__icon {
    width: 100px;
    height: 100px;
    background: #FCD28A;
    overflow: hidden;
    .monster {
      margin-top: 20px;
    }
  }

  round-progress {
    position: absolute;
    z-index: 10;
  }
}

.c-level__exercises {

  ion-item {

    &.completed { text-decoration: line-through; }

    ion-label {
      display: flex;
      align-items: center;

      .exercise__text {
        font-weight: lighter;
      }
      ion-icon {
        padding: 0 16px;
        font-size: 2.5em;
      }
    }
  }
}
