.c-big-header {
  min-height: 30vh;
  justify-content: space-between;
  text-align: center;

  .title {
    padding-top: 16px;
  }

  h1 {
    margin: 0 16px;
  }

  button {
    float: right;
    font-size: 1em;
  }
}
