progress-page {
  ion-header {
    ion-toolbar {
      ion-buttons {
        &:first-of-type {
          order: 1;
        }
      }
    }
  }

  chart {
    span,
    svg {
      span,
      tspan {
        &.graphMood {
          font-size: 5em;
          @each $moodIndicator, $mood in $moods {
            &--#{$moodIndicator} {
              fill: $mood;
              color: $mood;
            }
          }
        }
      }
    }

    span {
      line-height: 0.7em;
    }
  }
}
