progress-home {
  ion-header {
    ion-toolbar {
      ion-buttons {
        &:first-of-type {
          order: 1;
        }
      }
    }
  }

  [ion-fixed] {
    display: flex;
    flex-direction: column;

    ion-scroll {
      flex-grow: 1;

      .scroll-content {
        overflow-y: scroll;
      }
    }
  }

  chart {
    span,
    svg {
      span,
      tspan {
        &.graphMood {
          font-size: 5em;
          @each $moodIndicator, $mood in $moods {
            &--#{$moodIndicator} {
              fill: $mood;
              color: $mood;
            }
          }
        }
      }
    }

    span {
      line-height: 0.7em;
    }
  }

  ion-grid.grid {
    padding: 32px 64px 0;

    ion-row {
      &:not(:last-of-type) {
        margin-bottom: 32px;
      }

      ion-col {
        padding: 0;
        display: flex;
        align-items: center;

        &:nth-of-type(1) {
          span {
            font-weight: 300;
            text-transform: uppercase;
          }
        }

        &:nth-of-type(2) {
          // align-items: baseline;
        }

        ion-icon {
          font-size: 2em;
          color: color($colors, contrast, base);
          margin-right: 1em;
        }

        &.stats {
          align-items: baseline;

          .title {
            margin: 0;
            font-weight: 900;
            font-size: 3.25em;
            color: color($colors, secondary, base);
          }

          .stat {
            margin-left: 1em;
            flex-grow: 1;
          }

          .difference {
            color: color($colors, contrast, base);
            font-weight: 500;

            &:after {
              content: '%';
            }
          }
        }
      }
    }
  }
}