<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only color="light" (click)="changeWeek(-1)">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <!-- TODO look at this, maybe it is nice to select the date -->
      <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startWeek"></ion-datetime> -->
      {{ startWeek | date : 'dd/MM'}} - {{ endWeek | date : 'dd/MM' }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="changeWeek(1)" [disabled]="!canSelectNextWeek">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ion-fixed (swipe)="swipeEvent($event)">
    <chart [options]="_chartOptions" style="display: block" (load)="setChart($event.context)" type="chart"></chart>

    <ion-scroll>
      <ion-grid (swipe)="swipeEvent($event)">
        <ion-row>
          <ion-col col-12>
            <ion-icon name="ribbon"></ion-icon>
            <span>
              {{ 'PROGRESS_EXERCISES_DONE' | translate }}
            </span>
          </ion-col>
          <ion-col col-12 class="stats">
            <h1 class="title">
              {{ thisWeeksExercises?.length || '0' }}
            </h1>
            <span class="stat">
              {{ 'EXERCISES' | translate }}
            </span>
            <span *ngIf="previousWeeksExercises.length" class="difference">
              {{ previousWeeksExercises.length | difference : thisWeeksExercises.length }}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-icon name="timer"></ion-icon>
            <span>
              {{ 'PROGRESS_TOTAL_EXERCISE_TIME' | translate }}
            </span>
          </ion-col>
          <ion-col col-12 class="stats">
            <h1 class="title">
              {{ (thisWeeksExercises | accumulateTime | msToTime : 'hours') || '0' }}
            </h1>
            <span class="stat">
              {{ 'HOURS' | translate }}
            </span>
            <span *ngIf="previousWeeksExercises.length" class="difference">
              {{ (previousWeeksExercises | accumulateTime) | difference : (thisWeeksExercises | accumulateTime) }}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-icon name="md-stopwatch"></ion-icon>
            <span>
              {{ 'PROGRESS_AVERAGE_EXERCISE_TIME' | translate }}
            </span>
          </ion-col>
          <ion-col col-12 class="stats">
            <h1 class="title">
              {{ (((thisWeeksExercises | accumulateTime) / thisWeeksExercises?.length) | msToTime : 'minutes') || '0' }}
            </h1>
            <span class="stat">
              {{ 'MINUTES' | translate }}
            </span>
            <span *ngIf="previousWeeksExercises.length" class="difference">
              {{ ((previousWeeksExercises | accumulateTime) / previousWeeksExercises.length) | difference : ((thisWeeksExercises | accumulateTime) / thisWeeksExercises.length) }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll>
  </div>
</ion-content>