page-exercise-success {
  ion-content {
    .ion-fixed,
    [ion-fixed] {
      display: flex;
      height: 100%;
      background: color($colors, secondary, base);

      #confetti {
        position: absolute;
        height: calc(100vh - 56px);
        width: 100vw;
        top: 0;
      }

      .message {
        flex-grow: 1;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 10;

        h1 {
          font-size: 2.5em;
        }

        p {
          max-width: 90%;
          text-align: justify;
        }
      }
    }
  }
}