<ion-content>
  <ion-fab top right>
    <button ion-fab mini color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <section padding>
    <h1 class="badge__name">
      {{ badge.verbose }}
    </h1>
    <span class="badge__description">
      {{ badge.description }}
    </span>
    <section class="badge__progress" *ngIf="currentStage?.stage">
      <img src="{{ currentStage.stage.image }}" alt="{{ badge.verbose }}" />
      <round-progress [current]="currentStage.pointsToNextStage" [max]="currentStage.stage.amountNeeded" [radius]="155"
        [stroke]="6" [duration]="1"></round-progress>
    </section>
    <section class="current-stage">
      <div class="progress">
        {{currentStage.pointsToNextStage }} / {{currentStage.stage.amountNeeded }}
      </div>
      <div class="description">
        {{ currentStage.stage.description }}
      </div>
    </section>
  </section>
  <ion-item-group>
    <ion-item-divider>
      {{ 'LEVELS' | translate }}
    </ion-item-divider>
  </ion-item-group>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let stage of badge.stages; let i = index">
        <spirit-badge [stage]=stage [badge]=badge [pointsToNextStage]="currentStage.pointsToNextStage"
          [class.current]="i === currentStageIndex" [class.completed]="i < currentStageIndex"
          [class.locked]="i > currentStageIndex">
        </spirit-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>