<ion-content>
  <ion-fab top right>
    <button ion-fab mini color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <section padding>
    <spirit-badge [badge]=badge></spirit-badge>
    <!-- <div class="o-badge o-badge--big">
      <span class="badge__name">
        {{ badge.verbose }}
      </span>
      <div class="badge__progress">
        <img src="{{ badge.currentStage.image }}" alt="" />
        <round-progress
          [current]="
            badge.finishedStages
              ? badge.currentStage.amountNeeded
              : badge.pointsProgressToNextStage
          "
          [max]="badge.currentStage.amountNeeded"
          [radius]="125"
          [stroke]="6"
          [duration]="1"
        ></round-progress>
      </div>
      <span class="badge__progress__numbers" *ngIf="!badge.finishedStages">
        <strong>{{ badge.pointsProgressToNextStage }}</strong> /
        {{ badge.currentStage.amountNeeded }}
      </span>
      <span class="badge__progress__numbers" *ngIf="badge.finishedStages">
        <strong>{{ badge.currentStage.amountNeeded }}</strong> /
        {{ badge.currentStage.amountNeeded }}
      </span>
    </div>
    <article>
      <p>
        {{ badge.description }}
      </p>
      <p>
        {{ badge.currentStage.description }}
      </p>
    </article> -->
  </section>
</ion-content>