<section class="c-exercise-level">
  <div class="monster__icon">
    <div class="monster" [style.backgroundImage]="'url(assets/imgs/monsters/monster-0' + level.stepNumber + '.svg)'">
    </div>
  </div>
  <round-progress [current]="level.completion" [max]="100" [radius]="60" [stroke]="5" [duration]="1">
  </round-progress>
</section>

<!-- <div class="c-level__monster" (click)="goToLevel(level)">
          <div class="monster__icon">
            <div class="monster"
              [style.backgroundImage]="'url(assets/imgs/monsters/monster-0' + level.stepNumber + '.svg)'">
            </div>
          </div>
          <round-progress [current]="level.completion" [max]="100" [radius]="60" [stroke]="5" [duration]="1">
          </round-progress>
          <strong class="level__number">
            {{ 'LEVEL' | translate }} {{ level.stepNumber }}
          </strong>
        </div> -->