<ion-content>
  <section *ngIf="!levels?.length" class="c-emptystate">
    <img src="assets/imgs/monsters/all.png" alt="">
    <h1>
      {{ 'OOPS' | translate }}
    </h1>
    <p>
      {{ 'WARNING_BEFORE_YOU_CAN_START' | translate }}
    </p>
    <button color="secondary" ion-button large block (click)="addFearsAndCompulsions()">
      {{ 'MY_FEAR_LADDER' | translate }}
    </button>
  </section>
  <ion-list no-lines class="c-exercise__levels">
    <div *ngFor="let level of levels; index as i" class="level">
      <ion-item>
        <section [class.completed]="level.done">
          <div class="level__monster" (click)="goToLevel(level)">
            <div class="monster__icon" *ngIf="!level.done">
              <div class="monster" [style.backgroundImage]="'url(' + level.monster + ')'"></div>
            </div>
            <div class="level__icon" *ngIf="level.done">
              <div class="level" [style.backgroundImage]="'url(assets/imgs/levels/badge__level-0' + level.number + '.png)'"></div>
            </div>
            <round-progress *ngIf="!level.done"
              [current]="level.completion"
              [max]="100"
              [radius]="60"
              [stroke]="5"
              [rounded]
              [animationDelay]="i*100">
            </round-progress>
          </div>
        </section>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
