page-exercise {
  ion-content {
    div.scroll-content {
      > section {
        height: 100%;
      }
    }

    .exercise__levels {
      padding: 32px 0;

      .level {
        &:not(:last-of-type) {
          ion-label.label {
            &:after {
              content: "";
              height: calc(12px * 5 - 6px);
              margin: 0 auto 8px;
              display: block;
              width: 6px;
              background-image: url("../assets/imgs/misc/dot.svg");
              opacity: 0.25;
            }
          }
        }

        ion-label.label {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .level__number {
            text-transform: uppercase;
            font-size: 14px;
            padding: 16px 0;
            color: lighten(color($colors, dark, base), 25);
          }
        }
      }
    }
  }
}
