page-exercise {
  ion-content {
    div.scroll-content {
      > section {
        height: 100%;
      }
    }

    .exercise__levels {
      padding: 32px 0;
      margin: 0;

      .level {
        padding-left: 8px;
        &:not(:last-of-type) {
          ion-label.label {
            &:after {
              content: "";
              height: calc(12px * 3 - 6px);
              margin: 4px auto;
              display: block;
              width: 6px;
              background-image: url("../assets/imgs/misc/dot.svg");
              opacity: 0.15;
            }
          }
        }

        ion-label.label {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 8px;
        }
      }
    }
  }
}
