<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ 'MY_LOGBOOK_ENTRIES' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="(exercises$ | async).loading" class="c-logbook">
    <div class="c-logbook__item" *ngFor="let x of [1,2,3,4,5,6,7]">
      <div class="c-timeline">
        <spirit-mood-indicator-mock></spirit-mood-indicator-mock>
        <div class="c-timeline__extender"></div>
      </div>
      <spirit-logbook-item-mock></spirit-logbook-item-mock>
    </div>
  </section>
  <section *ngIf="!(exercises$ | async).loading">
    <spirit-empty-state *ngIf="!(exercises$ | async).list.length" [title]="'OOPS'"
      [subtitle]="'WARNING_NO_LOGGED_EXERCISES'" [imageSource]="'assets/imgs/monsters/all.png'">
    </spirit-empty-state>
    <section *ngIf="(exercises$ | async).list.length" no-lines class="c-logbook">
      <div *ngFor="let exercise of (exercises$ | async).list" class="c-logbook__item">
        <div class="c-timeline">
          <spirit-mood-indicator [mood]="exercise.beforeMood.mood || -1" [afterMood]="exercise.afterMood.mood || -1">
          </spirit-mood-indicator>
          <div class="c-timeline__extender"></div>
        </div>
        <spirit-logbook-item [exercise]="exercise"></spirit-logbook-item>
      </div>
    </section>
  </section>
</ion-content>