<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{ 'MY_LOGBOOK_ENTRIES' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="(exercises$ | async).loading">
    loading items
  </section>
  <section *ngIf="!(exercises$ | async).loading">
    <section *ngIf="!(exercises$ | async).list.length">
      no items
    </section>
    <section *ngIf="(exercises$ | async).list.length" no-lines class="c-logbook">
      <div *ngFor="let exercise of (exercises$ | async).list | orderByImpure '-start'" class="c-logbook__item">
        <div class="c-timeline">
          <spirit-mood-indicator [mood]="exercise.beforeMood.mood || -1" [afterMood]="exercise.afterMood.mood || -1">
          </spirit-mood-indicator>
          <div class="c-timeline__extender"></div>
        </div>
        <ion-card (click)="toggleExerciseContent(exercise)">
          <ion-card-header>
            {{ exercise.start | relativeTime | async }}
          </ion-card-header>
          <ion-card-content>
            <h1 text-wrap>
              {{ exercise.step.fear.situation }}
            </h1>
            <h2 text-wrap>
              {{ 'WITHOUT' | translate }}: {{ exercise.step.fear.without }}
            </h2>
            <section class="c-item__detail" [class.active]="exercise.openedContent"
              [class.inactive]="!exercise.openedContent">
              <ion-item-group>
                <ion-item-divider>
                  {{ 'BEFORE' | translate }}
                  <spirit-mood-indicator [mood]="exercise.beforeMood.mood || -1"></spirit-mood-indicator>
                </ion-item-divider>
                <ion-item text-wrap *ngIf="exercise.beforeMood.explanation">{{ exercise.beforeMood.explanation }}
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  {{ 'AFTER' | translate }}
                  <spirit-mood-indicator [mood]="exercise.afterMood.mood || -1"></spirit-mood-indicator>
                </ion-item-divider>
                <ion-item text-wrap *ngIf="exercise.afterMood.explanation">
                  {{ exercise.afterMood.explanation }}
                </ion-item>
              </ion-item-group>
              <div *ngIf="exercise.step.triggers">
                <ion-item-group *ngFor="let trigger of exercise.step.triggers">
                  <div *ngIf="trigger.enabled">
                    <ion-item-divider>
                      {{ trigger.verbose | translate }}
                      <span>{{ trigger.amount }} / 5</span>
                    </ion-item-divider>
                    <ion-item text-wrap *ngIf="trigger.explanation">
                      {{ trigger.explanation }}
                    </ion-item>
                  </div>
                </ion-item-group>
              </div>
            </section>
          </ion-card-content>
        </ion-card>
      </div>
    </section>
  </section>
</ion-content>