logbook-page {
  ion-header {
    min-height: 125px;
  }

  ion-content {
    ion-list {
      ion-card {
        ion-card-content.card-content {
          p:not(:last-of-type) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}
